/* Reset default styles */
html, body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Global styles */
body {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  margin-bottom: 10px;
}

/* Navigation bar styles */
nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

nav ul li a {
  color: grey;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: lightgrey;
}

.scrolled {
  background-color: darkgrey;
}

.scrolled ul li a {
  color: white;
}

/* About section styles */
#about {
  margin-top: 60px; /* Adjust the space between navigation bar and title */
}

.about-image {
  display: flex;
  align-items: center;
}

.about-image img {
  max-width: 500px;
  height: auto;
  margin-right: 20px;
}

.about-links a {
  display: inline;
  margin-bottom: 5px;
}

.about-description {
  margin-top: 20px;
}
