/* Reset default styles */
html, body, ul, li {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Global styles */
body {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 10px;
  flex-grow: 1;
}

iframe {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  display: block;
  flex-grow: 1;
  margin-top: 50px; /* Offset equal to navbar height */
  border: none;
}

.container {
  max-width: 780px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: blue; /* Adjust to match your desired link color */
}

.link:visited {
  color: blue; /* Ensure visited links maintain the same color */
}

.link:hover {
  text-decoration: underline;
}

/* Navigation bar styles */
.nav-links-container {
  display: flex; /* Ensure nav links are visible in desktop view */
  justify-content: center;
  align-items: center;
}

.menu-icon {
  display: none; /* Hide the hamburger icon in desktop view */
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  transition: background-color 0.25s ease; /* Add a smooth transition effect for the background color */
  z-index: 1000; /* Set a higher z-index to keep the navigation bar in the foreground */
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Display ellipsis (...) for text that overflows */
  height: 100%;
}

nav ul li a {
  list-style: none;
  margin: 0;
  color: grey;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  align-items: center;     /* Vertically center the text inside the li */
  display: flex;
  justify-content: center;
  transition: font-size 0.25s ease, background-color 0.25s ease, color 0.25s ease; /* Add a smooth transition effect */
}

nav li:hover {
  transform: scale(1.2); /* Increase the font size on hover (adjust as needed) */
}

.scrolled {
  background-color: darkgrey;
}

.scrolled ul li a {
  color: white;
  transition: color 0.25 ease; /* Add a smooth transition effect for background color, text color, and padding */
}

/* Main styles */
main ul li {
  margin-bottom: 5px;          /* Spacing between list items */
  position: relative;          /* Positioning context for pseudo-element */
  padding-left: 25px;          /* Space between bullet and text */
}

main ul li::before {
  content: '\2022';            /* Unicode character for a bullet (disc) */
  color: grey;                 /* Bullet color */
  position: absolute;          /* Position bullet relative to list item */
  left: 0;                     /* Align bullet to the left */
  font-size: 1em;              /* Bullet size */
}

/* About section styles */
#about {
  margin-top: 60px; /* Adjust the space between navigation bar and title */
}

.about-image {
  display: flex;
  align-items: center;
  justify-content: left; /* Center the content horizontally */
  text-align: left;
  flex-wrap: wrap; /* Allow items to wrap onto the next line if needed */
}

.about-image img {
  width: 225px; 
  display: block;
  height: auto;
  margin-right: 30px;
}

.about-links li::before {
  content: none; /* Remove the bullet */
}

.about-links li {
  padding-left: 0; /* Remove padding left */
  margin-bottom: 10px; /* Optional: spacing between items */
}

.about-links a:hover {
  text-decoration: underline; 
}

.about-description {
  margin-top: 20px;
}

.about-description a {
  text-decoration: none;
}

.about-description a:visited {
  color: blue;
}

.about-description a:hover {
  text-decoration: underline; 
}

h2 {
  text-align: center;
  border-bottom: 2px solid #ccc; /* Add a border under section headings */
  padding-bottom: 5px; /* Add some padding for better spacing */
  margin-top: 25px;
  margin-bottom: 15px; /* Adjust as needed for spacing between headings and content */
}

h3 {
  border-bottom: 0px solid #ccc; /* Add a border under section headings */
  margin-top: 30px;
  margin-bottom: 5px; /* Adjust as needed for spacing between headings and content */
}

/* CV Container */
.cv-container {
  margin-top: 80px; /* Adjust to account for fixed navigation bar */
  padding-bottom: 40px; /* Space before footer */
}

/* CV Sections */
.cv-section {
  margin-bottom: 30px;
}

.download-cv-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #ccc; /* Green background */
  color: white; /* White text */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-cv-button:hover {
  background-color: grey; /* Darker green on hover */
}

.download-cv-button i {
  margin-right: 8px; /* Space between icon and text */
}

/* Institution/Company Heading */
.cv-institution {
  margin-bottom: 15px;
}

/* Subheading for Degrees/Positions */
.cv-subheading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

/* Title and Date within Subheading */
.cv-title {
  font-weight: bold;
}

.cv-date {
  font-size: 0.9em;
  color: #777;
}

/* List of Items (e.g., responsibilities, achievements) */
.cv-item-list {
  list-style: none;
  padding-left: 20px;
}

.cv-item-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 15px;
}

.cv-item-list li::before {
  content: "–"; /* Dash symbol */
  position: absolute;
  left: 0;
  top: 0;
  color: #2c3e50;
}

/* Footer Note */
.footer-note {
  text-align: center;
  font-size: 0.8em;
  color: #777;
  margin-top: 40px;
}

.bibliography li a {
  text-decoration: none;
}

.abstract-button {
  color: grey; 
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.abstract-button:hover {
  text-decoration: underline; 
}

.abstract {
  margin-top: 5px; 
  font-size: 14px; 
  line-height: 1.2; 
}

.abstract-button:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  display: inline-block;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 grey;
  font-weight: bold;
  font-style: normal;
  scale: 1.1;
  float: left;
  margin-right: 5px;
}

.active:after {
  content: '\2012'; /* Unicode character for "minus" sign (-) */
}

/* Code section styles */

.project li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px; 
}

.project li::before {
  content: '\2022'; /* Unicode character for a bullet (disc) */
  color: grey; 
  position: absolute;
  left: 5px;
}

.project li a {
  text-decoration: none;
}

.project li a:visited {
  color: blue;
}

.project li a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: darkgrey;
  color: white;
  height: 40px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Adjusted container styles for mobile */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  main {
    margin-top: 0px;
    flex-grow: 1;
  }
}  

/* Mobile view: Hide the menu by default and show the hamburger icon */
@media (max-width: 768px) {
  .nav-links-container {
    display: none; /* Hide the links by default in mobile view */
  }

  .menu-icon {
    display: block; /* Show the hamburger icon */
    font-size: 24px;
    cursor: pointer;
    color: grey;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .scrolled .menu-icon {
    color: white;
  }

  .scrolled ul li a {
    color: grey;
  }

  .nav-links-container.show {
    display: flex; /* Show the nav links when toggled */
    flex-direction: column; /* Stack links vertically in mobile view */
    background-color: white;
    width: 100%;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    padding: 0;
  }

  nav ul li {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid grey;
  }

  nav ul li a {
    padding: 15px;
    display: block;
    color: grey;
  }
}

/* Adjusted h2 for mobile view */
@media (max-width: 768px) {
  h2 {
    margin-top: 35px;
  }
}

/* Adjusted about section for mobile */
@media (max-width: 768px) {
  .about-image {
    flex-direction: column;
    align-items: center;
  }

  .about-image img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .about-links {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .about-links li {
    display: inline-flex;
    margin: 2.5px 2.5px;
  }
}

@media (max-width: 600px) {
  .about-description {
    text-align: justify;
  }
}