/* Reset default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color */
body {
    background-color: #f1f1f1;
    color: #296D98;
    font-family: 'Ysabeau', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/* Set container width and center it */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Style the navigation bar */
nav {
    background-color: #296D98; /* Set the blue color */
    height: 40px; /* Set a fixed height for the navigation bar */
    line-height: 40px; /* Center the text vertically within the navigation bar */
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    transition: font-size 0.3s, font-weight 0.3s;
}

nav ul li a:hover {
    font-size: 18px; /* Increase font size on hover */
    font-weight: bold; /* Apply bold font weight on hover */
}
/* Style the sections */
section {
    padding: 40px 0;
}

section h2 {
    margin-bottom: 20px;
}


/* Style the content wrapper */
.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Style the text wrapper */
.text-wrapper {
    flex: 1;
    text-align: left;
}

/* Style the profile picture */
.profile-picture {
    flex: 1;
    text-align: center;
}

.profile-picture img {
    width: 250px; /* Adjust the width to your desired size */
    height: auto;
}


/* Style the footer */
footer {
    background-color: #296D98;
    color: #fff;
    text-align: center;
    padding: 20px;
}
